@model dynamic
<a asp-action="Details" asp-route-id="@Model" class="btn btn-warning"><spam class="fa fa-search"></spam></a>
<a asp-action="Edit" asp-route-id="@Model" class="btn btn-info"><spam class="fa fa-pencil-alt"></a>
<a asp-action="Delete" asp-route-id="@Model" class="btn btn-danger"><spam class="fa fa-trash"></spam></a>
